@page
@model WebApplication1.Pages.IndexModel

<h1>@Model.Messeng</h1>

<form method="post">
    <input type="text" name="name" />
    <input type="number" name="age" />
    <button>add</button>
</form>